.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Arial', sans-serif;
}

.info-section {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 40px;
}

.company-info, .contact-form {
  flex: 1;
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the text */
}

.company-info h2, .contact-form h2 {
  color: #007bff;
  font-size: 24px;
}

.company-info p {
  color: #333;
}

.image-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image-description {
  margin-top: 10px;
  color: #333;
}

.ac_btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.ac_btn:hover {
  background-color: #0056b3;
}

/* Center the text in the contact form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
