/* Contacts.css */

.contact-container {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  justify-content: center;
  align-items: center;
  gap: 30px; /* Add a space between Contact and Side Note */
  padding: 50px;
  background-color: #f4f4f4; /* Light background color for the entire container */
}

.main-content {
  max-width: 70%;
}

h1 {
  color: #27ae60;
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  color: #666;
  font-size: 20px;
}

.side-note {
  max-width: 40%;
  background-color: #2ecc71;
  padding: 20px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.side-note h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.company-info {
  margin-top: 30px;
}

.form-row {
  margin-bottom: 20px;
}

form {
  max-width: 100%;
}

label {
  color: #333;
  font-size: 18px;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  background-color:#3498db;
  color: #fff;
  padding: 12px 18px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #2980b9;;
}
