


.main{
    padding: 0;
    margin: 0;
  }
  
  
.signup {
  margin: -58rem 0 0 67rem;
  background-color: rgb(241, 253, 247);
  width: 35em;
  height: 50em;
  position: absolute;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 85%;
  }
  
  /* notice input has no dot becasue we are calling the html "input" tage from login.js */
  input{
    background-color: #d2d2d2;
    margin: 0 auto;
    padding: 16px;
    border-radius: 9px; 
    text-align: left;
    font-size: 19px;
    color: black;
    
  }

  
  /* backround Image Settings  */
  .Signup-pic img{
    
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
  }


.Signup-pic {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.Signup-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(5px); Adjust the blur intensity as needed */
    z-index: -1;
    position: absolute;
}


  .btn-link {
    border-radius: 100px; 
    cursor: pointer;
    background-color: #bdb7b7;
    box-shadow: var(--box-shadow);
    color: #000000;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    text-decoration: none;
  }
  
  .btn-link-container{
    background: none;
    border: 0;
  }

  
  .btn-link-container :hover {
    background-color: #2dbd39;
  }
  

  .exist-user {
    cursor: pointer;
    background-color: rgb(241, 253, 247);
    color: #000000;
    text-decoration: none;
    font-size: 20px;
  }
  
  .btn-existing-user-container{
    background: none;
    border: 0;
  }
  













  /* .login_btn{
    border-radius: 100px; 
    cursor: pointer;
    background-color: #bdb7b7;
    box-shadow: var(--box-shadow);
    color: #000000;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
  }
  
  .login_btn:hover {
    background-color: #2dbd39;
  } */
  
  
  /* .forgot_password{
    padding-left: 60px;
    margin-top: 30px;
    font-size: 18px;
    color: #bdb7b7;
  }
  .forgot_password span {
    color: #2dbd39;
    cursor: pointer;
  }
  
   */
  