/* Appliance Layout*/
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.master-switch {
  color: black;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.switch {
  margin: 0 0 0 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 60px;
  height: 34px;
  line-height: 34px;
  text-align: right;
  padding-right: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 60px;
  height: 34px;
  background-color: #961616;
  -webkit-transition: 0.4s;
  transition: 0.2s;
  border-radius: 34px;
}

.slider.round {
  border-radius: 34px;
}

.switch input:checked + .slider {
  background-color: #2b8b56;
}

.switch input:checked + .slider.round {
  transform: translateX(25px);
}

.appliances-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 300;
}

.appliance {
  width: 1000px;
  cursor: pointer;
  background-color: #2b8b56;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}

.appliance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.appliance:hover {
  background-color: #ddd;
}

.appliance.open {
  background-color: #ddd;
}

.appliance-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.appliance-details img {
  max-width: 100%;
  max-height: 200px;
}

/* Toggling Style */
.toggle-container {
  position: relative;
  width: 70px;
  height: 32px;
  background-color: #c4c4c4;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  padding: 2px;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #961616;
  box-shadow: 0 2px 4px #00000040;
  padding: 8px 12px;
  border-radius: 3px;
  position: absolute;
  left: 2px;
  transition: left 0.2s ease-in-out, background-color 0.2s ease;
}

.toggle-btn.ON {
  left: 32px;
  background-color:rgb(70, 168, 131);
  transition: left 0.2s ease-in-out, background-color 0.2s ease;
}

/* Confirmation Code */
.confirmation-dialog {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.confirmation-dialog p {
  font-size: 16px;
  margin-bottom: 20px;
}

.confirmation-dialog button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.confirmation-dialog button:last-child {
  background-color: #ccc;
}

/* Add New Appliance Button Style */
.add-new-appliance-btn {
  padding: 10px 20px;
  border-color: black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.add-new-appliance-btn:hover {
  background-color: #0056b3;
}

/* Style for dropdown items */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  padding: 10px;
  text-align: left;
  width: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#applianceButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8e8c8c;
  color: #fff;
  text-align: right;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#applianceButton:hover {
  background-color: #2b8b56;
}