#footer {
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5);
    background-color: #2f5d80;
    display: flex;
    text-align: center;
    align-items: center;
    border: none;
    margin: none;
    padding: 25px;
  }

.footerContent {
    color: white;
    margin-left: 350px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.copyWrite {
    color: white;
    text-decoration: none;
}

.returnBtn {
    cursor: pointer;
    margin-left: 75px;
    padding-bottom: 25px;
}

.arrow {
    border-color: transparent transparent #ffffff;
    border-style: solid;
    border-width: 10px;
    height: 0px;
    width: 0px;
}

@media screen and (max-width: 768px) {
    #footer {
        box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5);
        background-color: #2f5d80;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        margin: 3rem auto;
      }
      
      .footerContent {
        color: white;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
      
      .copyWrite {
        color: white;
        text-decoration: none;
      }
      
      .returnBtn {
        cursor: pointer;
        margin-top: 10px;
        padding: 10px;
      }
      
      .arrow {
        border-color: transparent transparent #ffffff;
        border-style: solid;
        border-width: 10px;
        height: 0px;
        width: 0px;
      }
  }
  