

.navbar-container{
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
}

.navbar-img{
    width: 50px;
    height: 10px;
    margin-left: 245px;
}

.nav-link {
    text-align: left;
    font-family: arial;
    font-weight: 600;
    float: right;
    overflow: hidden;
    position: relative;
    padding: 25px 20px;
    text-decoration: none;
    color: rgb(16, 108, 73);
    font-size: large;
    margin-right: 150px;
}

.nav-link:hover{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dashboard {
    float: right;
    overflow: hidden;
    position: relative;
    margin-right: 150px;
    
  }
  
  /* Dropdown button */
  .dashboardbtn {
    cursor: pointer;
    font-family: 'arial';
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
    color: rgb(16, 108, 73);
    padding: 25px 20px;
    background-color: inherit;
  }

  .dashboard:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .appliances:hover .appliancesbtn {
    color: rgb(155, 126, 59);
  }
  
  /* Dropdown content (hidden by default) */
  .appliances-content {
    display: none;
    position: absolute;
    background-color: #16d847;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .appliances-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .appliances-content a:hover {
    background-color: #000000;
  }
  
  /* Show the dropdown menu on hover */
  .appliances:hover .appliances-content {
    display: block;
  }