.navbar-container {
  background-color: rgb(255, 255, 255);
  padding: 20px 20px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.navbar-img {
  width: 275px;
  height: 80px;
  margin-left: 250px;
}

.nav-link {
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: 600;
  float: right;
  overflow: hidden;
  position: relative;
  padding: 25px 20px;
  text-decoration: none;
  color: rgb(19, 146, 97);
  font-size: large;
  margin-left: 100px;
  transition: color 0.5s ease;
}

.nav-link.active {
  color: gray;
}

.navbar a:hover {
  color: rgb(155, 126, 59);
}
