.navbar-container{
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
}

.navbar-img{
    width: 50px;
    height: 10px;
    margin-left: 245px;
}

.nav-link {
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: 600;
    float: right;
    overflow: hidden;
    position: relative;
    padding: 25px 20px;
    text-decoration: none;
    color: rgb(19, 146, 97);
    font-size: large;
    margin-right: 150px;
    transition: color 0.5s ease;
}

.nav-link.active {
  color: gray;
}

  .navbar a:hover{
    color: rgb(155, 126, 59);
  }
  