.aboutContainer {
    min-height: 300px;
    max-width: 750px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.aboutInfo {
    color: rgb(7, 91, 127);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-style: normal;
}
  
.teamSDSU {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.content {
    display: flex;
}
  
.team-member {
    text-align: center;
    margin: 10px;
    padding: 10px;
}
  
.gold-line {
    width: 100%;
    height: 2px;
    background-color: gold;
    margin: 20px 0;
}

.spacer {
    width: 100%;
    height: 2px;
    opacity: 0%;
    margin: 5px 0;
}

.info {
    text-align: left;
}

.name {
    color: rgb(7, 126, 90);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    margin-right: 20px;
}

.title {
    color: rgb(107, 106, 106);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    margin-right: 20px;
}
  
.bio {
    line-height: 1.5em;
    color: rgb(107, 106, 106);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    overflow-wrap: break-word;
    flex: 1;
}

.advisor .sponsor {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    /* Other styles for .advisor */
  }

.left {
    display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  margin-right: 20px;
  margin-left: 20px;
}
